.title {
	text-align: center;
	font-size: 3rem;
	color: brown;
}
.nav {
	background-color: black;
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav a {
	color: white;
	font-size: 1.6rem;
}
