.user {
	display: flex;
	width: 30vw;
	gap: 5vh;
	border-bottom: 3px solid black;
}
.user_name {
	display: flex;
	gap: 2vh;
	width: 15vw;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2vh;
}
.user_email {
	display: flex;
	width: 15vw;
	justify-content: center;
	align-items: center;
}
