.user {
	display: flex;
	width: 30vw;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid black;
}
.user_name {
	display: flex;
	gap: 2vh;
	width: 50%;

	align-items: center;
	text-align: left;
	padding-left: 25%;
}
.user_email {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
}
