.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.userList {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
	gap: 1vh;
	background-color: grey;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5vh;
}
.nav a {
	font-size: 1.2rem;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav a:hover {
	cursor: pointer;
	color: azure;
	background-color: black;
}

.select_users {
	display: flex;
}
.require_login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login_link {
	font-size: 1.5rem;
	border: 1px solid black;
	padding: 1vh 2vh 1vh 2vh;
	display: flex;
	border-radius: 3px;
	transition: all 0.2s;
}
.login_link:hover {
	color: white;
	background-color: cadetblue;
	border: 1px solid transparent;
}
.back_home_btn {
	margin-top: 30px;
	font-size: 1.3rem;
}
